<html>
  <head>
    <style>
      body {
        <%= bg_color %>
      }
    </style>
  </head>
  <body>
    <body>
      <form>
        <input type='text' name='guess' />
        <input type= 'submit' value='Guess!' />
      </form
      <p><%= message %></p>
     </body>
</html
